{% load staticfiles %}
{% load accounts %}
<ul class="layui-nav layui-nav-tree layui-bg-cyan" lay-filter="">
    <li class="layui-nav-item">
        <a {% if request.path|is_am_info %}class="layui-this"{% else %}class=""{% endif %}
           href="{% url 'accounts:am_info' %}">账号信息</a>
    </li>
    <li class="layui-nav-item">
        <a {% if request.path|is_uc_info %}class="layui-this"{% else %}class=""{% endif %}
           href="{% url 'accounts:uc_info' %}">修改密码</a>
    </li>
    <li class="layui-nav-item">
        <a {% if request.path|is_uc_info %}class="layui-this"{% else %}class=""{% endif %}
           href="{% url 'accounts:uc_info' %}">修改手机</a>
    </li>
    <li class="layui-nav-item">
        <a {% if request.path|is_uc_info %}class="layui-this"{% else %}class=""{% endif %}
           href="{% url 'accounts:uc_info' %}">修改邮箱</a>
    </li>
</ul>
