{% extends 'common/base.html' %}
{% block content %}
    <div class="row container-fluid">
        {% block left_slider_box %}
            <div class="col col-3 col-lg-2 mr-0 pr-0">
                {% block left_slider_body %}
                    {% include 'accounts/base/user_center_leftslider.html' %}
                {% endblock %}
            </div>
        {% endblock %}
        {% block center_box %}
            <div class="col col-9 col-lg-10 ml-0 pl-0">
                {% block center_body %}
                    <div class="layui-card">
                        <div class="layui-card-header">
                            {% block site_header %}
                                <h3>{{ site_header|default:_("这里输入面板标题") }}</h3>
                            {% endblock %}
                        </div>
                        <div class="layui-card-body row">
                            {% block left_slider_subbox %}{% endblock %}
                            {% block right_slider_subbox %}{% endblock %}
                        </div>
                    </div>
                {% endblock %}
            </div>
        {% endblock %}
    </div>
{% endblock %}