{% extends 'common/base.html' %}
{% load i18n static %}
{% load staticfiles %}
{% load account_tags %}
{% block header %}{% endblock %}

{% block content %}
    <div class="container my-4" style="width: 380px;">
        <div class="mx-auto mb-4" type="width: 150px;">
            <h2 class="text-center text-primary">
                <a class="text-primary" style="text-decoration-line: none;" href="{% url 'blog:index' %}" target="_top">
                    <span>{{ site_header|default:_('重置密码') }}</span>
                </a>
            </h2>
        </div>
        <div class="my-auto">
            {% if user.is_authenticated %}
                <p class="errornote  alert alert-danger">
                    {% blocktrans trimmed with name=user.username %}
                        You are authenticated as {{ name }}, but are not authorized to
                        access this page. Would you like to login to a different account?
                    {% endblocktrans %}
                </p>
            {% endif %}
            <form class="form-horizontal  mb-5" role="form" method="post" action="." onsubmit="return false">
                {% csrf_token %}

                <div class="form-group pd-5">
                    <label class="col-sm-12 control-label text-warning bg-info" for="{{ form.email.id_for_label }}">
                        <span>忘记您的密码了吗？在下面输入您的电子邮件地址，我们将发送一封设置新密码的邮件给您。</span>
                    </label>
                </div>
                <fieldset class="form-group row">
                    <label class="col-sm-12 control-label" for="{{ form.email.id_for_label }}">
                        <span>电子邮箱地址：</span>
                    </label>
                    <div class="col-sm-12">
                        {{ form.email }}
                    </div>
                </fieldset>
                <div class="form-group row my-2">
                    <div class="col-sm-offset-2 col-sm-12 text-center">
                        <button type="submit" id="id_btn_email" class="btn btn-block btn-primary" onclick="send_mail(this)">重置密码</button>
                    </div>
                </div>
            </form>
            <div class="container-fluid" style="margin-top: 15px">
                <a class="btn-link" target="_self" href="{% url 'account:login' %}">返回登录</a>
                <a class="float-right btn-link" target="_self" href="{% url 'account:register' %}">新用户注册</a>
            </div>
        </div>
    </div>
{% endblock %}
{% block footer %}{% endblock %}
{% block base_code_body %}
    <script type="text/javascript">
        var curCount = 0;
        var InterValObj;

        $('#id_email').on('change', function () {
            window.clearInterval(InterValObj);
            $('#id_btn_email').removeAttr("disabled"); //启用按钮
            $('#id_btn_email').text("重置密码");
        });

        function SetRemainTimes(element, email) {
            if (curCount == 0) {
                window.clearInterval(InterValObj); //停止计时器
                element.removeAttr("disabled"); //启用按钮
                element.text("重新发送");
            } else {
                curCount--;
                element.text("重新发送(" + curCount + "s)");
            }
        };

        function send_mail(e) {
            var element = $(e);
            var email = $('#id_email').val();
            var email_type = false;
            if (email != "") {
                element.attr('disabled', true);
                var url = '{% url "account:password_reset_email" %}';
                $.ajax({
                    url: url,
                    type: 'post',
                    dataType: 'json',
                    data: {
                        csrfmiddlewaretoken: $('[name=csrfmiddlewaretoken]').val(),
                        email: email,
                        email_type: email_type,
                    },
                    cache: false,
                    success: function (responseData) {
                        if (responseData.is_send) {
                            curCount = responseData.timer;
                            console.log('邮件已发送')
                            layer.msg('邮件已发送');
                            element.text('重新发送(' + curCount + 's)');
                            {# 计时器 每秒使用SetRemainTimes刷新 #}
                            InterValObj = window.setInterval(SetRemainTimes, 1000, element, email);
                            return true;
                        } else if ('email' in responseData) {
                            layer.msg(responseData.email[0]);
                            console.log(responseData.email[0])
                        } else if ('email_type' in responseData) {
                            layer.msg(responseData.email_type[0]);
                            console.log(responseData.email_type[0])
                        } else {
                            console.log('邮件发送失败')
                            layer.msg('邮件发送失败');
                        }
                        element.attr('disabled', false);
                    },
                    error: function (msg) {
                        layer.msg('邮件发送失败');
                        element.attr('disabled', false);
                    }
                });
            }
            return false;
        };
    </script>
{% endblock %}