{% extends 'admin/base_site.html' %}
{% load staticfiles %}
{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "layui/css/layui.css" %}">
    {{ form.media }}
{% endblock %}

{% block bodyclass %}{{ block.super }} register{% endblock %}

{% block usertools %}{% endblock %}

{% block nav-global %}{% endblock %}

{% block content_title %}{% endblock %}

{% block breadcrumbs %}{% endblock %}
{% block content %}
    <div class="layui-container layui-col-md-offset5">
        <form class="layui-form" action="{% url 'account:register' %}" method="post">
            {#            {{ form.as_p }}#}
            {% csrf_token %}
            <div class="layui-form-item">
                <label class="layui-form-label" for="{{ form.username.id_for_label }}">{{ form.username.label_tag }}</label>
                <div class="layui-input-block">
                    {{ form.username }}
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label" for="{{ form.password.id_for_label }}">{{ form.password.label_tag }}</label>
                <div class="layui-input-block">
                    {{ form.password }}
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label" for="{{ form.password_agin.id_for_label }}">{{ form.password_agin.label_tag }}</label>
                <div class="layui-input-block">
                    {{ form.password_agin }}
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label" for="{{ form.email.id_for_label }}">{{ form.email.label_tag }}</label>
                <div class="layui-input-block">
                    {{ form.email }}
                </div>
            </div>
        </form>
    </div>
    <script src="{% static 'layui/layui.js' %}"></script>
{% endblock %}