<head>
    <title>修改 文章管理 | 管理员系统</title>
    <link rel="stylesheet" type="text/css" href="/static/admin/css/base.css">
    <link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css">


    <script type="text/javascript" src="/admin/jsi18n/"></script>
    <link href="/static/mdeditor/css/editormd.css" type="text/css" media="all" rel="stylesheet">
    <script type="text/javascript" src="/static/admin/js/vendor/jquery/jquery.js"></script>
    <script type="text/javascript" src="/static/mdeditor/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
    <script type="text/javascript" src="/static/mdeditor/js/editormd.min.js"></script>
    <script type="text/javascript" src="/static/admin/js/core.js"></script>
    <script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js"></script>
    <script type="text/javascript" src="/static/admin/js/SelectBox.js"></script>
    <script type="text/javascript" src="/static/admin/js/actions.js"></script>
    <script type="text/javascript" src="/static/admin/js/SelectFilter2.js"></script>
    <script type="text/javascript" src="/static/admin/js/urlify.js"></script>
    <script type="text/javascript" src="/static/admin/js/prepopulate.js"></script>
    <script type="text/javascript" src="/static/admin/js/vendor/xregexp/xregexp.js"></script>


    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/admin/css/responsive.css">


    <meta name="robots" content="NONE,NOARCHIVE">
    <link type="text/css" rel="stylesheet" href="/static/mdeditor/js/lib/codemirror/codemirror.min.css">
    <link type="text/css" rel="stylesheet" href="/static/mdeditor/js/lib/codemirror/addon/dialog/dialog.css">
    <link type="text/css" rel="stylesheet"
          href="/static/mdeditor/js/lib/codemirror/addon/search/matchesonscrollbar.css">
    <script id="-static-mdeditor-js-lib-codemirror-codemirror-min" type="text/javascript"
            src="/static/mdeditor/js/lib/codemirror/codemirror.min.js"></script>
    <script id="-static-mdeditor-js-lib-codemirror-modes-min" type="text/javascript"
            src="/static/mdeditor/js/lib/codemirror/modes.min.js"></script>
    <script id="-static-mdeditor-js-lib-codemirror-addons-min" type="text/javascript"
            src="/static/mdeditor/js/lib/codemirror/addons.min.js"></script>
    <script id="-static-mdeditor-js-lib-marked-min" type="text/javascript"
            src="/static/mdeditor/js/lib/marked.min.js"></script>
    <script id="-static-mdeditor-js-lib-prettify-min" type="text/javascript"
            src="/static/mdeditor/js/lib/prettify.min.js"></script>
    <script id="-static-mdeditor-js-lib-raphael-min" type="text/javascript"
            src="/static/mdeditor/js/lib/raphael.min.js"></script>
    <script id="-static-mdeditor-js-lib-underscore-min" type="text/javascript"
            src="/static/mdeditor/js/lib/underscore.min.js"></script>
    <script id="-static-mdeditor-js-lib-flowchart-min" type="text/javascript"
            src="/static/mdeditor/js/lib/flowchart.min.js"></script>
    <script id="-static-mdeditor-js-lib-jquery-flowchart-min" type="text/javascript"
            src="/static/mdeditor/js/lib/jquery.flowchart.min.js"></script>
    <script id="-static-mdeditor-js-lib-sequence-diagram-min" type="text/javascript"
            src="/static/mdeditor/js/lib/sequence-diagram.min.js"></script>
    <link type="text/css" rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/KaTeX/0.3.0/katex.min.css">
    <script id="-cdnjs-cloudflare-com-ajax-libs-KaTeX-0-3-0-katex-min" type="text/javascript"
            src="//cdnjs.cloudflare.com/ajax/libs/KaTeX/0.3.0/katex.min.js"></script>
</head>