<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load staticfiles %}
    <title>Title</title>
    <link href="{% static 'cropper/css/cropper.css' %}" rel="stylesheet">
    <link href="{% static 'bootstrap/css/bootstrap.css' %}" rel="stylesheet">
</head>
<body>
<script src="{% static 'cropper/js/cropper.js' %}"></script>
<script src="{% static 'common/js/jquery-3.3.1.js' %}"></script>
<script src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
<div class="box" style="width: 900px;height: 900px">
    <img id="image"  width="100px" height="100px" src="{% static 'common/imgs/1.jpg' %}">
</div>
<div class="img-preview" style="overflow: hidden; width: 200px;height: 200px;"></div>
<script type="text/javascript">


    var image = document.getElementById('image');
    var options = {
        //裁剪框
        aspectRatio: 4 / 3,
        viewMode: 3,
        modal: true,
        autoCropArea:0.5,
        dragMode:'move',
        preview: '.img-preview',
        ready: function (e) {
            console.log(e.type);
        },
        cropstart: function (e) {
            console.log(e.type, e.detail.action);
        },
        cropmove: function (e) {
            console.log(e.type, e.detail.action);
        },
        cropend: function (e) {
            console.log(e.type, e.detail.action);
        },
        zoom: function (e) {
            console.log(e.type, e.detail.scale);
        }
    };
    var cropper = new Cropper(image, options);

</script>
</body>
</html>