{% extends "common/layerui.html" %}
{% block form_body %}
    <div class="form-group">
        <label for="{{ form.username.id_for_label }}"
               class="col-sm-12 control-label  font-weight-bold">{{ form.username.label_tag }}
        </label>
        {% if form.username.errors %}
            <label class="col-sm-12 control-label alert alert-danger">{{ form.username.errors }}</label>
        {% endif %}
        <div class="col-sm-12">
            {{ form.username }}
        </div>
    </div>
    <div class="form-group">
        <label for="{{ form.password.id_for_label }}"
               class="col-sm-12 control-label  font-weight-bold">{{ form.password.label_tag }}
        </label>
        {% if form.password.errors %}
            <label class="col-sm-12 control-label alert alert-danger">{{ form.password.errors }}</label>
        {% endif %}
        <div class="col-sm-12">
            {{ form.password }}
        </div>
    </div>
    {% if form.password_agin %}
        <div class="form-group">
            <label for="{{ form.password_agin.id_for_label }}"
                   class="col-sm-12 control-label  font-weight-bold">{{ form.password_agin.label_tag }}
            </label>
            {% if form.password_agin.errors %}
                <label class="col-sm-12 control-label alert alert-danger">{{ form.password_agin.errors }}</label>
            {% endif %}
            <div class="col-sm-12">
                {{ form.password_agin }}
            </div>
        </div>
    {% endif %}
    <div class="form-group">
        <label for="{{ form.email.id_for_label }}"
               class="col-sm-12 control-label  font-weight-bold">{{ form.email.label_tag }}
        </label>
        {% if form.email.errors %}
            <label class="col-sm-12 control-label alert alert-danger">{{ form.email.errors }}</label>
        {% endif %}
        <div class="col-sm-12">
            {{ form.email }}
        </div>
    </div>
    <div class="form-group" style="display: none" id="id_verify_box">
        {% if form.verify.errors %}
            <label class="col-sm-12 control-label alert alert-danger">{{ form.verify.errors }}</label>
        {% endif %}
        <div class="col-sm-12 row">
            <div class="col-8">
                {{ form.verify }}
            </div>
            <div class="col-4">
                <button id="id_btn_email" class="btn btn-light text-primary" type="button"
                        onclick="send_mail(this)">发送验证码
                </button>
            </div>
        </div>
    </div>
    <div class="form-group my-auto">
        <div class="col-sm-offset-2 col-sm-12 text-center">
            <button type="submit" class="btn btn-block btn-primary btn-lg">注册</button>
        </div>
    </div>
    <div class="container-fluid my-2">
        <a class="float-right btn-link" target="_self" href="{% url 'accounts:login' %}">已有账号，直接登录</a>
    </div>
{% endblock %}
{% block base_code_extend %}
    <script type="text/javascript">
        {# 时间 #}
        var curCount = 0;
        {# 计时器 #}
        var InterValObj;

        {# 验证码输入框显示 #}

        function SwitchVerifyBox() {
            var verify_box = $('#id_verify_box');
            h = verify_box.height();
            var index = parent.layer.getFrameIndex(window.name);
            if ($('#id_email').val()) {
                verify_box.show();
                $('#id_verify').attr('required', true);
                parent.layer.style(index, {height: 448 + h});
            } else {
                verify_box.hide();
                parent.layer.style(index, {height: 448});
            }
        }

        {# 窗口加载操作 #}
        window.onload = function () {
            SwitchVerifyBox();
        }

        {# 输入操作 #}
        $('input').on('input', function () {
            SwitchVerifyBox();
        });

        {# 邮箱变更操作 #}
        $('#id_email').on('change', function () {
            window.clearInterval(InterValObj);
            $('#id_btn_email').removeAttr("disabled"); //启用按钮
            $('#id_btn_email').text("发送验证码");
        });

        {# 设置倒计时 #}

        function SetRemainTimes(element, email) {
            if (curCount == 0) {
                window.clearInterval(InterValObj); //停止计时器
                element.removeAttr("disabled"); //启用按钮
                element.text("重新发送");
            } else {
                curCount--;
                element.text("重新发送(" + curCount + "s)");
            }
        };

        {# 发送邮件 #}

        function send_mail(e) {
            var element = $(e);
            var email = $('#id_email').val();
            var is_staff = false;
            if (email != "") {
                element.attr('disabled', true);
                var url = '{% url "accounts:emailto" %}';
                $.ajax({
                    url: url,
                    type: 'post',
                    dataType: 'json',
                    data: {
                        csrfmiddlewaretoken: $('[name=csrfmiddlewaretoken]').val(),
                        email: email,
                        is_staff: is_staff,
                    },
                    cache: false,
                    success: function (JsonResponse) {
                        curCount = JsonResponse.timer;
                        {# 计时器 每秒使用SetRemainTimes刷新 #}
                        InterValObj = window.setInterval(SetRemainTimes, 1000, element, email);
                        layer.msg('验证码已发送');
                        element.text('重新发送(' + curCount + 's)');
                        return true;
                    },
                    error: function (HttpResponse) {
                        console.log('eeeee');
                        console.log(HttpResponse.responseText);
                        layer.msg(HttpResponse.responseText);
                        element.attr('disabled', false);
                        return false;
                    }
                });
            }
            return false;
        };
    </script>
{% endblock %}