{% extends "common/layerui.html" %}
{% load i18n static %}
{% load accounts %}
{% block header %}{% if not validlink and not request.path|ischange %}{% include "common/header.html" %}{% else %}{% endif %}{% endblock %}
{% block content %}
    {% if validlink or request.path|ischange %}
        {% block form_container %}
            <div class="container-fluid">
                <form class="form-horizontal mb-5" role="form" action="." method="post"
                      onsubmit="return onsubmitForm(this);">
                    {% csrf_token %}
                    {% block form_title %}
                        <p class="py-3 ml-2"
                           style="background:url('{% static "common/imgs/SCSDN.svg" %}') no-repeat left;background-size:70px;line-height:42px;">
                            <a class="text-primary" style="text-decoration: none;height: 32px;"
                               href="{% url 'blog:index' %}" target="_top">
                            <span style="color: black;font-size: 16px;padding-left: 75px;">
                                &middot; {{ site_header|default:_('用户名密码登录') }}
                            </span>
                            </a>
                        </p>
                    {% endblock %}
                    {% block form_errors %}{% endblock %}
                    {% block form_body %}
                        <div class="float-left" style="width: 400px">
                            {% if user.is_authenticated %}
                                <div class="form-group">
                                    <label for="{{ form.password_old.id_for_label }}"
                                           class="col-sm-12 control-label  font-weight-bold">
                                        {{ form.password_old.label_tag }}
                                    </label>
                                    {% if form.password_old.errors %}
                                        <label class="col-sm-12 control-label alert alert-danger">{{ form.password_old.errors }}</label>
                                    {% endif %}
                                    <div class="col-sm-12">
                                        {{ form.password_old }}
                                    </div>
                                </div>
                            {% endif %}
                            <div class="form-group">
                                <label for="{{ form.password.id_for_label }}"
                                       class="col-sm-12 control-label  font-weight-bold">
                                    {{ form.password.label_tag }}
                                </label>
                                {% if form.password.errors %}
                                    <label class="col-12 control-label alert alert-danger">{{ form.password.errors }}</label>
                                {% endif %}
                                <div class="col-sm-12">
                                    {{ form.password }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="{{ form.password_.id_for_label }}"
                                       class="col-sm-12 control-label  font-weight-bold">
                                    {{ form.password_.label_tag }}
                                </label>
                                {% if form.password_.errors %}
                                    <label class="col-sm-12 control-label alert alert-danger">{{ form.password_.errors }}</label>
                                {% endif %}
                                <div class="col-sm-12">
                                    {{ form.password_ }}
                                </div>
                            </div>
                            <div class="form-group my-auto">
                                <div class="col-sm-offset-2 col-sm-12 text-center">
                                    <button type="submit"
                                            class="btn btn-block btn-primary btn-lg">{{ site_header }}</button>
                                </div>
                            </div>
                        </div>
                    {% endblock %}
                </form>
            </div>
        {% endblock %}
    {% else %}
        <p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>
    {% endif %}
{% endblock %}

{% block footer %}{% if not request.path|ischange %}{% include 'common/footer.html' %}{% endif %}{% endblock %}
{% block base_code_extend %}{% endblock %}