{% extends 'common/base.html' %}
{% load staticfiles %}
{% block base_css_extend %}
    <link href="{% static 'cropper/css/cropper.min.css' %}">
    <link href="{% static 'cropper/css/cropper.custom.css' %}">
{% endblock %}
{% block header %}{% endblock %}
{% block content %}
    <div class="box">>
        <img id='image' src="{% static 'common/imgs/avatar.png' %}">
    </div>

{% endblock %}
{% block footer %}{% endblock %}
{% block base_js_extend %}
    <script src="{% static 'cropper/js/cropper.min.js' %}"></script>
    <script src="{% static 'cropper/js/cropper.custom.js' %}"></script>
{% endblock %}
{% block base_code_extend %}{% endblock %}