{% extends "common/base.html" %}
{% load staticfiles %}
{% load md2 %}
{% load common_extras %}
{% block center_body %}
    <style>
        .card:hover {
            background-color: #f4f4f4;
        }

        .card-title {
            color: #3d3d3d;
            line-height: 24px;
            height: 24px;
            white-space: nowrap;
            max-width: 98%;
            text-overflow: ellipsis;
            font-weight: bold;
        }

        .card-title > .card-link:hover {
            color: red;
        }

        .card-text, .card-info {
            margin-top: 20px;
            font-size: 14px;
            color: #8a8a8a;
        }

        .card-info-link > a, .card-info-operate > span {
            padding-right: 6px;
            font-size: 14px;
            color: #8a8a8a;
        }

        .card-info-link > a {
            color: black;
            text-decoration-line: none;
            border-right: 1px solid #e9e9e9;
        }

        .card-info-link > a:hover {
            color: blue;
        }

        .card-info-operate > span > a {
            padding-right: 6px;
            margin-left: 6px;
            font-size: 14px;
            text-decoration-line: none;
            color: #3399ea;
            font-family: PingFang SC, Hiragino Sans GB, Arial, Microsoft YaHei, Verdana, Roboto, Noto, Helvetica Neue, sans-serif !important;
        }

        .card-info-operate > span > .card-link {
            border-right: 1px solid #e9e9e9;
        }

    </style>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">SCSDN专业IT技术社区</h1>
            <p class="lead my-4">这是一个基于django框架的仿CSDN的博客社区，用于学习开发web网站。</p>
        </div>
    </div>
    {% for article in articles %}
        <div class="card text-left">
            <div class="card-body">
                <h3 class="card-title">
                    <a class="card-link" href="{{ article.get_absolute_url }}">{{ article.title }}</a>
                </h3>
                <p class="card-text">
                    <a class="card-link" style="color: #8a8a8a;" href="{{ article.get_absolute_url }}">
                        {{ article.body|markdown|striptags|truncatewords_html:'10' }}
                    </a>
                </p>
                <div class="card-info">
                    <span class="card-info-link">
                        <a href="{% url 'articles:list' article.author.username %}">
                            <img style="margin-top: -5px" class="rounded-circle"
                                 src="{{ article.author.photo|is_protrait }}" width="14px"
                                 height="14px">
                            {{ article.author.nick_name|default:article.author.username }}
                        </a>
                        {% if article.column %}
                            <a href="#">{{ article.column | default_if_none:_('') }}</a>
                        {% endif %}
                        <span class="px-2">{{ article.update|date:'m月d日' }}</span>
                    </span>
                    <span class="card-info-operate float-right">
                        <span>阅读量<a class="card-link" href="#">{{ article.likes.count }}</a></span>
                        <span>点赞<a class="card-link" href="#">{{ article.likes.count }}</a></span>
                        <span>评论<a href="#">{{ article.comments.count }}</a></span>
                    </span>
                </div>
            </div>
        </div>
    {% empty %}
        <div class="no-data d-flex flex-column justify-content-center align-items-center"
             style="margin-top:100px;padding-bottom:100px;">
            <img src="{% static 'common/imgs/empty.svg' %}" width="120px" height="73px">
            <h4 class="text-center"
                style="font-size: 16px;color: #6B6B6B;font-weight: bold;letter-spacing: 2px;padding: 15px;">
                空空如也</h4>
            <a href="{% url 'articles:post' %}" target="_blank">
                <button style="width: 300px;height: 40px;background: #CA0C16;border-radius: 4px;font-size: 18px;color: #FFFFFF; margin-top: 15px;"
                        type="button" class="btn btn-outline-danger">
                    写博客
                </button>
            </a>
        </div>
    {% endfor %}
    {% include 'common/paginator.html' %}
{% endblock %}

