{% extends 'articles/base/back_stage_base.html' %}
{% load staticfiles %}
{% load common_extras %}
{% load md2 %}
{% block left_slider_body %}
    {% include 'articles/base/article_show_leftslider.html' %}
{% endblock %}
{% block center_box %}
    <div class="col col-md-7 col-lg-7" style="box-shadow: 0 2px 4px 0 rgba(0,0,0,0.05)">
        <div class="layui-header clearfix">
            <div class="border-bottom pb-2">
                <div class="article-title">
                    <h1>{{ article.title }}</h1>
                </div>
                <div class="mt-3">
                <span style="font-size: 12px;color: #999;">
                    {% if article.status == '4' %}
                        <span class="list-item-tag text-danger mr-2">已删除</span>
                    {% elif article.status == '3' %}
                        <span class="list-item-tag text-primary mr-2">草稿</span>
                    {% else %}
                        {% if article.top %}<span class="list-item-tag mr-2">置顶</span>{% endif %}
                        {% if article.status == '2' %}<span class="list-item-tag mr-2">私密</span>{% endif %}
                    {% endif %}
                    <span><i class="fa fa-clock-o mr-1"></i>{{ article.created }}</span>
                    <span>
                        <a class="ml-3" href="{% url 'articles:list' article.author.username %}"
                           style="text-decoration-line: none;color: #78a5f1;">
                            {{ article.author.nick_name|default:article.author.username }}
                        </a>
                    </span>
                    <span class="ml-3">阅读数:<span class="ml-1">{{ article.comments.count }}</span></span>
                </span>
                    <span class="float-right mr-2 article-action">
                    {% if article.author == user %}
                        <a class="btn btn-link" style="text-decoration-line: none; margin-top: -8px;"
                           href="{% url 'articles:post' %}?id={{ article.id }}">编辑</a>
                    {% elif article.favorites.all|include:user %}
                        <a class="btn btn-link text-primary" style="text-decoration-line: none; margin-top: -8px;"
                           {% if user.is_authenticated %}data-method="disfavorite" data-option="{{ article.id }}"
                           {% else %}onclick='layer_open("{% url 'accounts:login' %}")'{% endif %}>取消收藏</a>
                    {% else %}
                        <a class="btn btn-link  text-primary" style="text-decoration-line: none; margin-top: -8px;"
                           {% if user.is_authenticated %}data-method="favorite" data-option="{{ article.id }}"
                           {% else %}onclick='layer_open("{% url 'accounts:login' %}")'{% endif %}>收藏</a>
                    {% endif %}
                 </span>
                </div>
            </div>
        </div>
        <p class="editormd-preview editormd-preview-theme-default mt-5 pt-md-2 pt-sm-5">
        <div class="markdown-body editormd-preview-container">
            {{ article.body|markdown:"break-on-newline,code-friendly,code-color:highlight,fenced-code-blocks,footnotes,metadata,smarty-pants,spoiler,target-blank-links,toc,tables,use-file-vars,wiki-tables,xml,tag-friendly,task_list" }}
        </div>
        </p>
    </div>
{% endblock %}
{% block right_slider_box %}
    {% include 'articles/base/article_show_rightslider.html' %}
{% endblock %}
{% block base_js_extend %}
    <script type="text/javascript" src="{% static 'articles/js/article.actions.js' %}"></script>
{% endblock %}