{% extends 'articles/base/back_stage_base.html' %}
{% block center_body %}
    <div class="layui-tab layui-tab-brief" lay-filter="list">
        <ul class="layui-tab-title">
            <li lay-id="0" class="layui-this">全部({{ articles.count }})</li>
            <li lay-id="1">公开({{ publics.count }})</li>
            <li lay-id="2">私密({{ privates.count }})</li>
            <li lay-id="3">草稿箱({{ drafts.count }})</li>
            <li lay-id="4"><i class="fa fa-trash-o mx-1"></i>回收站({{ deleteds.count }})</li>
        </ul>
        <div class="layui-tab-content">
            {% include 'articles/article_intro_list.html' %}
        </div>
    </div>
{% endblock %}

{% block base_code_extend %}
    <script>
        layui.use('element', function () {
            var element = layui.element;
            //监听地址hash值，根据传入id切换到指定tab
            var layid = location.hash.replace(/^#list=/, '') | '0';

            element.tabChange('list', layid);
            element.on('tab(list)', function () {
                //取得当前id
                layid = this.getAttribute('lay-id');
                console.log(layid);
                //根据切换tab的id变更地址hash值
                location.hash = 'list=' + this.getAttribute('lay-id');
                //ajax动态展示对应tab的内容
                $.ajax({
                    type: 'POST',
                    url: window.location.pathname,
                    data: {'layid': layid},
                    dataType: 'html',
                    success: function (content) {
                        $('[lay-filter=list] div:first').html(content);
                    },
                    error: function () {
                        console.log('error');
                    }
                });
            });
        })

    </script>
{% endblock %}