{% load staticfiles %}
{% load accounts %}
<div style="box-shadow: 0 2px 4px 0 rgba(0,0,0,0.05);">
    <div style="padding: 16px 16px;padding-bottom: 16px;border-bottom: 1px solid #e3e3e3">
        <a href="#" style="text-decoration: none;">
        <span>
            <img class="img-thumbnail rounded-circle" width="48px" height="48px"
                 src="{{ article.author.photo | is_protrait }}">
        </span>
            <span style="margin-left:8px;color: #3d3d3d;font-weight: 700;max-width: 150px;max-height: 66px;overflow: hidden;word-wrap: break-word;">{{ article.author.nick_name | default_if_none:article.author.username }}</span>
        </a>
    </div>
    <div class="d-flex" style="padding: 16px 10px;border-bottom: 1px solid #e3e3e3;text-align: center;">
        <dl class="text-center" title="9" style="width: 100%;color: inherit;">
            <dt><a href="#">原创</a></dt>
            <dd><a href="#"><span class="count">9</span></a></dd>
        </dl>
        <dl class="text-center" id="fanBox" title="2" style="width: 100%;color: inherit;">
            <dt>粉丝</dt>
            <dd><span class="count" id="fan">2</span></dd>
        </dl>
        <dl class="text-center" title="1" style="width: 100%;color: inherit;">
            <dt>喜欢</dt>
            <dd><span class="count">1</span></dd>
        </dl>
        <dl class="text-center" title="0" style="width: 100%;color: inherit;">
            <dt>评论</dt>
            <dd><span class="count">0</span></dd>
        </dl>
    </div>
</div>
